server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/sarabom
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.hibernate.SQL: DEBUG

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: 3600000  # 1시간 (ms)
  refresh-token-expiration: 604800000  # 7일 (ms)
