server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:sarabom
    username: sa
    password:

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.hibernate.SQL: DEBUG
